Instagram Spy - Google Sheets.json
{
  "name": "Instagram Spy - Google Sheets",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "instagram-spy",
        "options": {}
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -352,
        -80
      ],
      "id": "4c9ed4fc-1821-439a-a831-0188a2823c8a",
      "webhookId": "a9380e42-6378-4b6b-95a0-b8064101c59a"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1XEmPVm6MlcpevxDXltZw__QhDwD0H9DV4szOKEbFcG8",
          "mode": "list",
          "cachedResultName": "Competitor Spy Data",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1XEmPVm6MlcpevxDXltZw__QhDwD0H9DV4szOKEbFcG8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1XEmPVm6MlcpevxDXltZw__QhDwD0H9DV4szOKEbFcG8/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Competitor": "={{ $json.body.competitor }}",
            "Post URL": "={{ $json.body.post_url }}",
            "likes": "={{ $json.body.likes }}",
            "Engagement Rate": "={{ $json.body.image_url }}",
            "Caption": "={{ $json.body.caption }}",
            "Comments": "={{ $json.body.comments }}",
            " Is Viral": "={{ $json.body.is_viral }}",
            "webhookUrl": "={{ $json.webhookUrl }}",
            "headers": "={{ $json.headers }}",
            "body": "={{ $json.body }}",
            "executionMode": "={{ $json.executionMode }}",
            "params": "={{ $json.params }}",
            "query": "={{ $json.query }}",
            "Timestamp": "={{ $json.body.timestamp }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Timestamp",
              "displayName": "Timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Competitor",
              "displayName": "Competitor",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Post URL",
              "displayName": "Post URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Engagement Rate",
              "displayName": "Engagement Rate",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "likes",
              "displayName": "likes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Comments",
              "displayName": "Comments",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": " Is Viral",
              "displayName": " Is Viral",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Caption",
              "displayName": "Caption",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "headers",
              "displayName": "headers",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "params",
              "displayName": "params",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "query",
              "displayName": "query",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "body",
              "displayName": "body",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "webhookUrl",
              "displayName": "webhookUrl",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "executionMode",
              "displayName": "executionMode",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "name": "Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        -144,
        -80
      ],
      "id": "bd6571b4-d417-4f12-9beb-6274747b8988",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "puSpADAqERDXPKnQ",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1XEmPVm6MlcpevxDXltZw__QhDwD0H9DV4szOKEbFcG8",
          "mode": "list",
          "cachedResultName": "Competitor Spy Data",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1XEmPVm6MlcpevxDXltZw__QhDwD0H9DV4szOKEbFcG8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1XEmPVm6MlcpevxDXltZw__QhDwD0H9DV4szOKEbFcG8/edit#gid=0"
        },
        "options": {}
      },
      "name": "Read All Posts",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        48,
        -80
      ],
      "id": "333cca21-e8fc-4125-aa0f-9a661050b2b7",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "puSpADAqERDXPKnQ",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Sort posts by Likes (Highest first)\nitems.sort((a, b) => {\n  const likesA = parseInt(a.json.likes || 0);\n  const likesB = parseInt(b.json.likes || 0);\n  return likesB - likesA;\n});\n\n// Add a rank field\nitems[0].json.message = \"🏆 TOP POST FOUND\";\n\n// Return only the winner (First item)\nreturn [items[0]];"
      },
      "name": "Find Highest Likes",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        272,
        -80
      ],
      "id": "cbc23c9f-34c4-4e35-a249-41acecf64e93"
    },
    {
      "parameters": {
        "authentication": "webhook",
        "content": "=🚨 **COMPETITOR ALERT** 🚨\n\n👤 **User:** {{ $json.Competitor }}\n❤️ **Likes:** {{ $json.likes }}\n📈 **Engagement:** %{{ $json['Engagement Rate'] }}\n🔗 **Link:** {{ $json['Post URL'] }}",
        "options": {}
      },
      "name": "Announce Winner",
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        496,
        -80
      ],
      "id": "b7e14fba-5358-40cb-a0ee-71e2d543baa8",
      "webhookId": "dad097e5-e9cb-4dd6-b86a-105745d6c25f",
      "credentials": {
        "discordWebhookApi": {
          "id": "NcYsCSyd6J4FcsH8",
          "name": "Discord Webhook account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "main": [
        [
          {
            "node": "Read All Posts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read All Posts": {
      "main": [
        [
          {
            "node": "Find Highest Likes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find Highest Likes": {
      "main": [
        [
          {
            "node": "Announce Winner",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "83d160e7-7624-498d-89b8-82c1b3279f3d",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "af3f23c03663212033c757b07f8ba7dcef97e7b0eeaecdd6b9da05c2f622fc5f"
  },
  "id": "YcPttF0Mnzoz78vV",
  "tags": []
}